* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style-type: none;
}

.clearfix {
	clear: both;
}

html, body {
	width: 100%;
	height: 100%
}

.text-left {
	text-align: left;
}

.p-5 {
	padding: 5px;
}

.primary-btn {
    width: 100%;
    border: 2px solid #155799;
    cursor: pointer;
    padding: 6px 24px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #155799 !important;
    background-color: #fff;
	transition: all 0.25s ease-in-out;
	
    &:hover {
      background-color: #155799;
      border-color:#155799;
      color: #fff !important;
	}
	
    &:active {
      background-color: #155799;
      border-color: #155799;
      color: #fff !important;
      box-shadow: none;
	}
	
    &:focus, &:active:focus {
      background-color: #155799;
      border-color: #155799;
      color: #fff !important;
      outline: 5px auto #155799;
	}
	
    &:visited {
      background-color: #155799;
      border-color: #155799;
    }
}

.text-center {
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}